/*--------------------------------------------------------------
  # dev-header Section
  --------------------------------------------------------------*/

#dev-header {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 0px 0 100px 0;
    margin-bottom: -101px;
}

#dev-header h1 {
    margin: 0 0 10px 0;
    font-size: 44px;
    font-weight: 500;
    line-height: 56px;
    color: #3E4A74;
    font-family: "MYRIADPRO", sans-serif;
}

#dev-header h2 {
    color: #3E4A74;
    margin-bottom: 50px;
    font-size: 20px;
}

#dev-header p {
    color: #3E4A74;
    font-size: 20px;
}

#dev-header .download-btn {
    font-family: "MYRIADPRO", sans-serif;
    font-weight: 500;
    font-size: 15px;
    display: inline-block;
    padding: 8px 24px 10px 46px;
    border-radius: 3px;
    transition: 0.5s;
    color: #fff;
    background: #29B383;
    position: relative;
}

#dev-header .download-btn:hover {
    background: #5777ba;
}

#dev-header .download-btn i {
    font-size: 20px;
    position: absolute;
    left: 18px;
    top: 8.5px;
}

#dev-header .download-btn+.download-btn {
    margin-left: 20px;
}

#dev-header a {
    text-decoration: none;
    background-color: transparent;
}

@media (max-width: 991px) {
    #sign-header {
        text-align: center;
    }
    #sign-header .download-btn+.download-btn {
        margin: 0 10px;
    }
    #sign-header .sign-header-img {
        text-align: center;
    }
    #sign-header .sign-header-img img {
        width: 60%;
    }
}

@media (max-width: 768px) {
    #sign-header h1 {
        font-size: 28px;
        line-height: 36px;
    }
    #sign-header h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
    #sign-header .sign-header-img img {
        width: 70%;
    }
}

@media (max-width: 575px) {
    #sign-header .sign-header-img img {
        width: 80%;
    }
}

.get-started-btn {
    background: #29B383;
    color: #fff;
    border-radius: 50px;
    margin: 0 15px;
    padding: 10px 25px;
}

#dev-header .btn-get-started {
    font-family: "MYRIADPRO", sans-serif;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 1px 66px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #29B383;
}

#dev-header .box {
    background: rgb(2, 0, 36);
    background: -moz-linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(41, 179, 131, 1) 35%, rgba(62, 74, 116, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(41, 179, 131, 1) 35%, rgba(62, 74, 116, 1) 100%);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(41, 179, 131, 1) 35%, rgba(62, 74, 116, 1) 100%);
    color: #FFF;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#020024", endColorstr="#3e4a74", GradientType=1);
    width: 275px;
    height: 246px;
    margin: 10px;
    padding: 13px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}


/*--------------------------------------------------------------
  # dev-box Section
  --------------------------------------------------------------*/

#dev-box {
    width: 100%;
    padding: 0px 0 0px 0;
    margin-bottom: -75px;
}

#dev-box .dev {
    width: 100%;
    background: #EFEFEF;
}

#dev-box .flotante {
    top: -124px;
}

#dev-box h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    color: #3E4A74;
    font-family: "MYRIADPRO", sans-serif;
}

#dev-box h2 {
    color: #fff;
    margin-bottom: 10px;
    font-size: 20px;
}

#dev-box .download-btn {
    font-family: "MYRIADPRO", sans-serif;
    font-weight: 500;
    font-size: 15px;
    display: inline-block;
    padding: 8px 24px 10px 46px;
    border-radius: 3px;
    transition: 0.5s;
    color: #fff;
    background: #29B383;
    position: relative;
}

#dev-box.download-btn:hover {
    background: #5777ba;
}

#dev-box .text {
    color: #3E4A74;
}

#dev-box .download-btn i {
    font-size: 20px;
    position: absolute;
    left: 18px;
    top: 8.5px;
}

#dev-box .box-container {
    margin-top: 0px;
    margin-bottom: 100px;
}

#dev-box .download-btn+.download-btn {
    margin-left: 20px;
}

#dev-box a {
    text-decoration: none;
    background-color: transparent;
}

#dev-box .box {
    background-image: url("../assets/img/section-developer/box-1.png");
    color: #FFF;
    width: 275px;
    height: 258px;
    margin: 10px;
    padding: 13px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

#dev-box .box-2 {
    background-image: url("../assets/img/section-developer/box-2.png");
    color: #FFF;
    width: 275px;
    height: 258px;
    margin: 10px 10px 65px 10px;
    padding: 13px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

#dev-box .box-3 {
    background-image: url("../assets/img/section-developer/box-3.png");
    color: #FFF;
    width: 275px;
    height: 258px;
    margin: 10px;
    padding: 13px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}


/*--------------------------------------------------------------
  # dec-create Section
  --------------------------------------------------------------*/

#dev-create {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 0px 0 100px 0;
    margin-bottom: -75px;
}

#dev-create h1 {
    margin: 0 0 10px 0;
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
    color: #3E4A74;
    font-family: "MYRIADPRO", sans-serif;
}

#dev-create h2 {
    color: #1BB482;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: "MYRIADPRO", sans-serif;
}

#dev-create p {
    color: #3E4A74;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: normal;
    font-family: "MYRIADPROREGULAR", sans-serif;
}

#dev-create .download-btn {
    cursor: pointer;
    background: #29B383;
    color: #fff;
    border-radius: 50px;
    font-size: 24px;
    margin: 0 15px;
    padding: 10px 25px;
    font-family: "MYRIADPRO", sans-serif;
}

#dev-create a {
    text-decoration: none;
    background-color: transparent;
}


/*--------------------------------------------------------------
  # sign-info Section
  --------------------------------------------------------------*/

#dev-footer {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 0px 0 100px 0;
    margin-bottom: -75px;
}

#dev-footer h1 {
    margin: 0 0 10px 0;
    font-size: 28px;
    font-weight: 500;
    line-height: 56px;
    color: #3b4b73;
    font-family: "MYRIADPRO", sans-serif;
}

#dev-footer h2 {
    color: #1BB482;
    margin-bottom: 10px;
    font-size: 20px;
}

#dev-footer .btn-get-started {
    cursor: pointer;
    font-family: "MYRIADPRO", sans-serif;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 1px 38px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #29B383;
}

#dev-footer a {
    text-decoration: none;
    background-color: transparent;
}

#dev-footer p {
    color: #3E4A74;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: normal;
    font-family: "MYRIADPROREGULAR", sans-serif;
}